code:not(.r) {
  color: #cc3333 !important;
}

/* set styles for alert boxes */

.alert {
  color: black;
}

.alert-danger {
  background-color: #ffb8b8;
}

.alert-warning {
  background-color: #fffad1;
}

.alert-info {
  background-color: #c2e3ff;
}

.alert-success {
  background-color: #cfffcc;
}

/* set styles for code output messages */

pre:not(.sourceCode) {
  background-color: #eeeef6;
}
pre:not(.sourceCode) code {
  color: grey !important;
}

/* set styles for hidden solutions */
.solution {
  height: 2em;
  overflow-y: hidden;
  padding: 0.5em;
}
.solution.open {
  height: auto;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.solution button {
  height: 1.5em;
  margin-bottom: 0.5em;
}

.solution pre.sourceCode {
  border-color: green;
}


